.admin_side_menu_wrap {
    min-width: 270px;
    max-width: 270px;
    height: 90vh;
    transition: 0.5s ease-in-out;
}

div.admin_side_open {
    left: 0px;
}

span.admin_side_open > .collapse_arrow {
    rotate: 90deg;
    transition: 0.5s ease-in-out;
}

span.admin_side_open > img {
    transition: 0.5s ease-in-out;
}

span.admin_side_collapsed {
    position: relative;
    left: 260px;
    transition: 0.5s ease-in-out;
}
div.admin_side_collapsed:hover span.admin_side_collapsed {
    position: relative;
    left: 200px;
    transition: 0.5s ease-in-out;
}

span.admin_side_collapsed > .collapse_arrow {
    rotate: 270deg;
    transition: 0.5s ease-in-out;
}

span.admin_side_collapsed > img {
    transition: 0.5s ease-in-out;
}

.admin_side_collapsed {
    left: -269px;
    transition: 0.5s ease-in-out;
}

.admin_side_collapsed:hover {
    left: -200px;
    transition: 0.5s ease-in-out;
}

.admin_side_list_collapsed > span {
    position: relative;
    left: -220px;
    transition: 0.5s ease-in-out;
}

.admin_side_list_collapsed > div {
    position: relative;
    left: -270px;
    transition: 0.5s ease-in-out;
}

.collapse {
    max-width: 270px;
    transition: max-width 0.3s ease;
    overflow: hidden;
}

.collapse.show {
    max-width: 270px;
    transition: max-width 0.3s ease;
}

.navbar-toggler {
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: none;
}
.navbar-toggler:hover {
    background-color: #e7e8eb;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.link_btn_admin_sidebar:hover {
    text-decoration: none;
}
