.admin_side_menu_wrap {
    /* position: sticky; */
    /* height: calc(100vh-88px);
    min-width: 288px; */
    /* overflow-y: scroll; */
    /* top: 24px;
    width: 288px; */
    min-width: 270px;
    max-width: 70px;
    /* width: 20%; */
    /*sticky가 적용될 요소는 꼭 height값이 있어야 함*/
    height: 90vh;
    top: 80px;
}

.collapse {
    max-width: 0;
    transition: max-width 0.3s ease;
    overflow: hidden;
}

.collapse.show {
    max-width: 100%;
    transition: max-width 0.3s ease;
}

.navbar-toggler {
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: none;
}
.navbar-toggler:hover {
    background-color: #e7e8eb;
}

.navbar-toggler:focus {
    background-color: #e7e8eb;
    box-shadow: none;
}

.link_btn_admin_sidebar:hover {
    text-decoration: none;
}
