#header_wrap {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 65px;
    display: flex;
    z-index: 1050;
    background-color: white;
}

#header_wrap_login {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 65px;
    display: flex;
    z-index: 1050;
    background-color: white;
}

div.logo_wrap {
    /* margin-top: 5px; */
    margin-left: 30px;
    font-family: 'yg-jalnan';
    font-size: 2em;
    display: flex;
    align-items: center;
}

div.logo_wrap_login {
    position: fixed;
    top: 9px;
    left: 42%;
    font-family: 'yg-jalnan';
    font-size: 2em;
}

div.logo_wrap a {
    text-decoration: none;
}

img.logo_img {
    width: 40px;
    margin-right: 10px;
}

/* 네비게이션 부분 스타일 */
.nav_bar {
    position: fixed;
    top: 15px;
    left: 35%;
    display: flex; /* 네비게이션 링크를 가로로 나열하기 위한 Flexbox 설정 */
    justify-content: center; /* 네비게이션 링크를 가로 중앙 정렬 */
    gap: 80px; /* 링크 사이의 간격 설정 */
    font-family: 'yg-jalnan';
    font-size: 1.5em;
}

.nav_bar a {
    color: black;
    text-decoration: none;
}

.nav_bar a:hover {
    color: black;
    text-decoration: none;
}

/* 로그인 버튼 부분 스타일 */
.login_btn_main_page {
    position: fixed;
    top: 14px;
    right: 2%;
}

.login_btn {
    background-color: #eff0f3;
    /* color: #455eef; */
    font-weight: bold;
}

.login_btn:hover {
    background-color: #e4e5e8;
    /* color: #425AE5; */
    color: #000;
}
