.bcmdjH {
    position: sticky;
    /* height: calc(100vh-88px);
    min-width: 288px; */
    /* overflow-y: scroll; */
    /* top: 24px;
    width: 288px; */
    width: 20%;         
    height: 650px; 
    /* //--> sticky가 적용될 요소는 꼭 height값이 있어야 함          */
    position: sticky;         
    top: 100px; 
}

.fnCVSl {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    display: flex;
    height: 56px;
    padding-left: 24px;
    padding-right: 16px;
}