.diary_main_img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.diary_flex {
    display: flex;
    justify-content: space-between;
    margin: 50px 80px 0px 80px;
}

.magazine {
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.magazine .detail_page {
    height: 100%;
    background-color: white;
}

.magazine .detail_page img {
    max-width: 100%;
    min-width: 100%;
    height: 80%;
    object-fit: cover;
}

.area_for_diary_detail {
    height: 80vh;
}

.diary_img_in_page {
    height: 50%;
}

.child_register_btn {
    float: right !important;
}
